In [4]:
import os

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

plt.style.use("fivethirtyeight")

In [7]:
DATA_PATH = "./data"

In [9]:
os.listdir("./data/tcross/A/")

['2025-03-31 13_35_12.csv',
 '2025-03-31T16_46_35.395626Z-debug.csv',
 '2025-03-31 13_35_12-timelog.csv']

In [14]:
pd.read_csv("./data/tcross/A/2025-03-31 13_35_12.csv").columns

Index(['Device', 'Usuario', 'SessionDate', 'TimeSensor', 'Vin', 'Latitude',
       'Longitude', 'Accelerometer_X', 'Accelerometer_Y', 'Accelerometer_Z',
       'Magnitude', 'TedaFlag', 'RadarArea', 'DriverBehaviour',
       'CityRoadLabel', 'CityRoadProb', 'FuelType',
       'FuelPredictionProbability', 'FuelModelPredictionTime(microseconds)',
       'TedaModelPredictionTime(microseconds)',
       'DriveBehaviourModelPredictionTime(microseconds)',
       'CityRoadModelPredictionTime(microseconds)', 'TimesDisconnected',
       'ReconnectionCount', 'Speed', 'RPM', 'EngineLoad', 'EngineOilTemp',
       'CoolantTemp', 'Maf', 'ThrottlePos', 'VoltageControlModule',
       'FuelLevel', 'FuelPressure', 'FuelRailPressure',
       'FuelRailGaugePressure', 'IntakeMAP', 'TimingAdvance',
       'RuntimeSinceEngineStart', 'DistanceTraveledWithMILOn',
       'IntakeAirTemperature', 'EthanolPercentage', 'RelativeThrottlePos',
       'AcceleratorPedalPosD', 'AcceleratorPedalPosE', 'AbsoluterThrottlePosB',
       'CatalystTempBank1Sensor1', 'EngineFuelRate', 'AbsoluteLoadValue',
       'AirFuelRatio', 'AbsoluteBarometricPressure'],
      dtype='object')

In [12]:
pd.read_csv("./data/tcross/A/2025-03-31T16_46_35.395626Z-debug.csv")

,Timestamp,CommandSent,Response,Interval,CommandsCount,ResponsesCount,Failed
0,1743438912111,speed,0.0,142,1,1,0
1,1743438912269,rpm,979.0,134,2,2,0
2,1743438912403,engine_load,18.0,151,3,3,0
3,1743438912554,engine_oil_temperature,NO DATA\r>,152,4,4,1
4,1743438912707,coolant_temp,77.0,153,5,5,1
...,...,...,...,...,...,...,...
4677,1743439594550,throttle_position,14.0,147,4678,4678,1040
4678,1743439594698,voltage_control_module,13.22,185,4679,4679,1040
4679,1743439594883,fuel_level,65.1,116,4680,4680,1040
4680,1743439595000,fuel_pressure,NO DATA\r>,82,4681,4681,1041
4681,1743439595083,fuel_rail_pressure,NO DATA\r>,150,4682,4682,1042

In [13]:
pd.read_csv("./data/tcross/A/2025-03-31 13_35_12-timelog.csv")

         timestamp type(realtime/stored)  interval(miliseconds)
0    1743438913396              realtime                     91
1    1743438914123              realtime                    129
2    1743438915119              realtime                    134
3    1743438916124              realtime                    104
4    1743438917140              realtime                    154
..             ...                   ...                    ...
678  1743439591136              realtime                    144
679  1743439592127              realtime                    123
680  1743439593138              realtime                    134
681  1743439594135              realtime                    125
682  1743439595127              realtime                    135

[683 rows x 3 columns]